.onboardbg{
    background-color: aliceblue;
}


.btn-success{
    background-color: #05B050 !important;
}

.text-success{
    color:#05B050 !important;
}

.blackColor{
    color: black !important;
}

.form-label{
    color: #242828 !important;
    margin-bottom: 0px !important;
    margin-top: 7px !important;
}

.zowaselBlue{
    background: #262c3f;
}
.zowaselGreen{
    background: #05b050;
}
.boldtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #0a0d13;
    margin-bottom: 60px;
}