.onboardbg{
    background-color: aliceblue;
}


.btn-success{
    background-color: #05B050 !important;
}

.text-success{
    color:#05B050 !important;
}

.blackColor{
    color: black !important;
}

.form-label{
    color: #242828 !important;
    margin-bottom: 0px !important;
    margin-top: 7px !important;
}

.zowaselBlue{
    background: #262c3f;
}
.zowaselGreen{
    background: #05b050;
}