<div class="toolbar-inner menubar-nav">
    <!-- <a href="notification.html" class="nav-link notificationLink">
        <i class="fas fa-bell"></i>
    </a> -->
    <a href="index.html" class="nav-link homeLink">
        <i class="fas fa-home"></i>
    </a>
    <a href="negotiations.html" class="nav-link messageLink">
        <i class="fa-solid fa-message"></i>
    </a>
    <!-- <a href="profile.html" class="nav-link profileLink">
        <i class="fas fa-user-tie"></i>
    </a> -->
    <a href="wallet.html" class="nav-link profileLink">
        <i class="fas fa-wallet"></i>
    </a>
    <a href="/dashboard/notification.html" class="nav-link notificationLink position-relative">
        <i class="fa fa-bell"></i>
        <span class="notification-count" style="display: none;"><!--3--></span>
    </a>
</div>


<script>
    // const urlString = window.location.href;
    const urlString = window.location.pathname;
    // console.log(urlString);

    let paramString = urlString.split('dashboard/')[1];
    console.log(paramString);

    $('.nav-link').removeClass('active');
    if(paramString == "notification.html"){
        $('.notificationLink').addClass('active');
    }
    if(paramString == "index.html"){
        $('.homeLink').addClass('active');
    }
    if(paramString == "messages.html"){
        $('.messageLink').addClass('active');
    }
    if(paramString == "profile.html"){
        $('.profileLink').addClass('active');
    }
</script>

<script>
    /************************************************************************************
     * /* ---------------- FETCH USER NOTIFICATION BY USER ID AND TYPE ---------------- *
     ************************************************************************************/
    function fetchUserNotificationsByUserTypeandID(){
        let user = localStorage.getItem('zowaselUser');
        user = JSON.parse(user);
        let userid = user.user.id;
        let usertype = user.user.type;
    
        // startPageLoader();
        $.ajax({
            url: `${liveMobileUrl}/notification/${usertype}/${userid}`,
            type: "GET",
            "timeout": 25000,
            "headers": {
                "Content-Type": "application/json",
                "authorization": localStorage.getItem('authToken')
            },
            success: function(response) { 
                // alert("efe");
                // EndPageLoader();
                // $('.loader').addClass('loader-hidden');
                // console.log(response, "The get all notification by useridANDtype response");
                if(response.error == true){
                    // alert(response.message);
                    responsemodal("erroricon.png", "Error", response.message);
                    // $('.loader').addClass('loader-hidden');
                }else{
                    // alert(response.message);
                    let thedata = (response.data).reverse();
                    let rowContent = "";
                    let index;
                    // console.log(thedata, "category data");
                    // console.log(JSON.parse(thedata[7].tracking_details).transit.length);
                    let total_newnotification;
                    if(thedata.length > 0){
                        // GET ALL UNSEEN RECORDS
                        let newnotification = thedata.filter((item)=>item.general_seen==0);
                        total_newnotification = newnotification.length;
                        if(total_newnotification>0){
                            $('.notification-count').show();
                        }else{
                            $('.notification-count').hide();
                        }
                        $('.notification-count').text(total_newnotification); 
              
                    }else{
                        $('.notification-count').hide();
                        $('.notification-count').text(0);
                    }
                        
                }
            },
            error: function(xmlhttprequest, textstatus, message) {
                EndPageLoader();
                if(textstatus==="timeout") {
                    basicmodal("", "Service timed out");
                } else {
                    // alert(textstatus);
                    basicmodal("", textstatus);
                }
            }
        });
    }
    /************************************************************************************
     * /* ---------------- FETCH USER NOTIFICATION BY USER ID AND TYPE ---------------- *
     ************************************************************************************/
    fetchUserNotificationsByUserTypeandID();
    setInterval(() => {
            setTimeout(()=>{
                fetchUserNotificationsByUserTypeandID();
            },500)
    }, 2000);
    
    </script>
    