<style>
    .filterbtn{
        border: 2px solid var(--zowasel-green);
        border-radius: 4px;
    }
</style>

<div class="toolbar-inner menubar-nav">
    <a class="nav-link notificationLink w-100 d-flex justify-content-between mb-4 gap-2">
        <button type="reset" class="btn zowasel-color filterbtn w-100">
            Reset filters
        </button>
        <button type="submit" class="btn zowasel-bg text-white filterbtn w-100">
            Apply filters
        </button>
    </a>
</div>