<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
<meta name="theme-color" content="#2196f3">
<meta name="author" content="DexignZone" /> 
<meta name="keywords" content="" /> 
<meta name="robots" content="" /> 
<meta name="description" content="Zowasel"/>
<meta property="og:title" content="Zowasel" />
<meta property="og:description" content="Zowasel" />
<meta property="og:image" content="https://zowasel.com/images/logos/white%20logo.png"/>
<meta name="format-detection" content="telephone=no">

<!-- Favicons Icon -->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png" />

<!-- Title -->
<title>Zowasel Mobile Web</title>

<!-- PWA Version -->
<!-- <link rel="manifest" href="manifest.json"> -->

<!-- Stylesheets -->
<link rel="stylesheet" href="../assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
<link rel="stylesheet" href="../assets/vendor/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="../bypass.css">
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../assets/css/style2.css">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Slab:wght@100;300;500;600;800&display=swap" rel="stylesheet">
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<!-- <script src="../assets/js/plugins/push.min.js"></script>
<script src="../assets/js/plugins/serviceworker.min.js"></script> -->

<script>
    // Push.create("Hello World");

    // Push.create("Hello world!", {
    //     body: "How's it hangin'?",
    //     icon: '/icon.png',
    //     timeout: 4000,
    //     onClick: function () {
    //         window.focus();
    //         this.close();
    //     }
    // });
</script>


<!-- document.addEventListener('DOMContentLoaded', function () {
    var head = document.getElementById('p_header');

    var xhr = new XMLHttpRequest();

    xhr.onload = function () {
        head.innerHTML = this.response;
    };

    xhr.open('GET', './components/head.html', true);
    xhr.send();
}, false); -->
