<div class="container bottom-content">
    <form id="filterForm" class="mb-4">
        <!-- Product Type -->
        <div class="cardholder p-3">
            <!-- Product type filter -->
            <div class="filter-item d-flex flex-column row-1"  id="producttype">
                <div class="rowz d-flex align-items-center mb-3">
                    <h2 class="f-16 fw-600">Product Type</h2>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Hybrid
                        <input type="checkbox" value="Hybrid">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Normal
                        <input type="checkbox" value="Normal">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Organic
                        <input type="checkbox" value="Organic">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        GMO
                        <input type="checkbox" value="GMO">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- End Product type filter -->
        </div>

        <!-- Catalog(Category) -->
        <div class="cardholder p-3">
            <!-- Catalog(Category) filter -->
            <div class="filter-item d-flex flex-column row-1"  id="catalog">
                <div class="rowz d-flex align-items-center mb-3">
                    <h2 class="f-16 fw-600">Catalog</h2>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Fertilizers
                        <input type="checkbox" value="7">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Herbicides
                        <input type="checkbox" value="8">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Fungicides
                        <input type="checkbox" value="9">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Insecticides
                        <input type="checkbox" value="10">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Seeds
                        <input type="checkbox" value="11">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Insecticide
                        <input type="checkbox" value="14">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- End Catalog(Category) filter -->
        </div>

        <!-- Product(SubCategory) -->
        <div class="cardholder p-3">
            <!-- Product(SubCategory) filter -->
            <div class="filter-item d-flex flex-column row-1"  id="product">
                <div class="rowz d-flex align-items-center mb-3">
                    <h2 class="f-16 fw-600">Product</h2>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Weedcrusher- paraquat
                        <input type="checkbox" value="32">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Touchdown 360- glyphosate
                        <input type="checkbox" value="33">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Vinash- glyphosate
                        <input type="checkbox" value="34">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- End Product(SubCategory) filter -->
        </div>

        <!-- Packaging -->
        <div class="cardholder p-3 mt-3">
            <!-- Packaging filter -->
            <div class="filter-item d-flex flex-column row-1" id="packaging">
                <div class="rowz d-flex align-items-center mb-3">
                    <h2 class="f-16 fw-600">Packaging</h2>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label  class="checkbox-container f-16 zowasel-darkblue-color">
                        Bag
                        <input type="checkbox" value="Bag">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Bottles
                        <input type="checkbox" value="Bottles">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Sachet
                        <input type="checkbox" value="Sachet">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Carbon
                        <input type="checkbox" value="Carbon">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- End Packaging filter -->
        </div>
        <!-- Packaging -->

        <!-- Delivery Method -->
        <div class="cardholder p-3 mt-3">
            <!-- Product type filter -->
            <div class="filter-item d-flex flex-column row-1" id="delivery_method">
                <div class="rowz d-flex align-items-center mb-3">
                    <h2 class="f-16 fw-600">Delivery method</h2>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Delivery
                        <input type="checkbox" value="Delivery">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <!-- checkbox component -->
                    <label class="checkbox-container f-16 zowasel-darkblue-color">
                        Pick up at Crop Center
                        <input type="checkbox" value="Pick up at Crop Center">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <!-- End Product type filter -->
        </div>
        <!-- Delivery Method -->

        <!-- Sort By -->
        <div class="cardholder p-3 mt-3">
            <!-- Product type filter -->
            <div class="filter-item d-flex flex-column row-1">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="f-16 fw-600 w-50">Sort by</h2>
                    <select class="form-select-sortby" id="" name="">
                        <option value="">Best net price</option>
                    </select>
                </div>
                <!-- price -->
                <div class="rowz d-flex align-items-center mb-2 mt-3">
                    <div class="ms-3 check-words-price">Price</div>
                </div>
                <!-- range -->
                <div class="range-slider">
                    <span class="rangeValues"></span>
                    <input value="0" min="0" max="50000" step="500" type="range">
                    <input value="50000" min="0" max="50000" step="500" type="range">
                </div>
                <div class="mt-4 d-flex justify-content-between align-items-center" style="gap:1rem;">
                    <div class="form_control_container flex-grow-1">
                        <div class="float-start">Min</div>
                        <br/>
                        <input id="fromPrice" required class="form-control w-100" type="number" min="0" max="50000">
                    </div>
                    <div class="form_control_container flex-grow-1">
                        <div class="float-start">Max</div>
                        <br/>
                        <input id="toPrice" required class="form-control w-100" type="number" min="0" max="50000">
                    </div>
                </div>
            </div>
            <!-- End Product type filter -->
        </div>
        <!-- Sort By -->


        <!-- Menubar -->
        <div class="menubar-area" id="buttommenuforFilter">
            
        </div>
        <!-- Menubar -->
    </form>

</div>


<script>
    customRangeSettings();
    buttomaddreset_applyfilter();
</script>